<!DOCTYPE html>
<html>
    <head>
        <title>Товар и количество</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                background-color: #f9f9f9;
            }
            .button {
                display: inline-block;
                padding: 10px 20px;
                background-color: #4CAF50;
                color: white;
                text-decoration: none;
                border-radius: 5px;
            }
        </style>
    </head>
    <body>
        <h4>Товар с id = {{ item.id }} не найден</h4>
        <a class="button" href="/items/">Назад к товарам</a>
    </body>
</html>
